/* Style Variables */
*{
    -fx-userVar-sidebar-text-color: #c6c6c6;
    -fx-userVar-primary-text-color: BLACK;
    -fx-userVar-sidebar-text-color_OnHover: rgb(22, 169, 250);
}

/* Overriding Default Class/Control Styles */
*TextField {
    -fx-border-color: lightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #4b4b4b;
    -fx-text-fill: white;
}
*ChoiceBox {
    -fx-border-color: lightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #4b4b4b;
    -fx-text-fill: white;
}
*ChoiceBox .label {
    -fx-text-fill: white;
}
*ChoiceBox .menu-item {
    -fx-border-color: lightblue;
    -fx-background-color: #4b4b4b;
}
*PasswordField {
    -fx-border-color: lightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #4b4b4b;
    -fx-text-fill: white;
}
*Button {
    -fx-border-color: lightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: rgba(50, 50, 200, .1);
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-alignment: CENTER;
    -fx-font-weight: BOLD;
    -fx-font-size: 14;
}
*Button:hover {
    -fx-border-color: #82cfe6;
    -fx-background-color: rgba(50, 50, 200, .5);
}


/*.tableViewDefault .column-header,
.tableViewDefault .column-header-background .filler {
    -fx-background-color:  #4b4b4b;
    -fx-border-color: lightblue;
}
.tableViewDefault .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.tableViewDefault .cell {
    -fx-background-color: #525252;
    -fx-text-fill: lightgrey;
}
.tableViewDefault .cell:odd {
    -fx-background-color: #626262;
    -fx-text-fill: lightgrey;
}
.tableViewDefault .cell:hover{
    -fx-background-color: rgba(59, 152, 200, .2);

}*/


.titlePane {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
.titlePane > .title{
    -fx-background-color: #3d3f40;
}

.titlePaneAnchor {
    -fx-background-color: #484a4b;
}

.titleScollPane {
    -fx-background-color: transparent;
}
.titleScollPane > .viewport {
    -fx-background-color: transparent;
}

.vboxAddressContainer {
    -fx-border-color: lightblue;
    -fx-spacing: 5;
    -fx-background-color: #4f5152;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.stanrdardHBox {
    -fx-spacing: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-alignment: CENTER_LEFT;
}
.standardLabel {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-spacing: 10;
}


/* Container Grid */
.background{
    -fx-background-color: #484a4b;
}

.gridBackground{
    -fx-background-color: #3d3f40;
}

.sidebarTitle{
    -fx-background-color: #4d5051;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-height: 30;
    -fx-pref-width: 140;
}

/* Sidebar MenuButton of the User */
.sidebarMenuButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 12;
}
.sidebarMenuButton > .label {
    -fx-text-fill: -fx-userVar-sidebar-text-color;
    -fx-font-family: Arial;
    -fx-font-size: 12;
}
.sidebarMenuButton > .Image {
    -fx-background-color: red;
}
.sidebarMenuButton:hover{
    /*-fx-border-color: transparent, #9604ff;*/
    -fx-border-style: solid;
    /*-fx-border-insets: 1 1 1 1, 0;*/
   /*-fx-background-color: transparent;*/
    /*-fx-background-radius: 0, 0;*/
    -fx-border-color: rgb(22, 169, 250);
    -fx-border-width: 0px 0px 3px 0px;
    -fx-padding: -1 0 0 0;
}
.sidebarMenuButton:hover .label {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-userVar-sidebar-text-color_OnHover;
}
.sidebarMenuButton:pressed {
    sidebarMenuButton: black;
    -fx-text-fill: white;
}

/* Sidebar Menu Item */
.sidebarMenuItemHBox {
    -fx-pref-width: 140;
    -fx-pref-height:40;
    -fx-alignment: CENTER_LEFT;
}
.sidebarMenuItemHBox .label {
    -fx-font-size: 12;
    -fx-font-family: Arial;
    -fx-text-fill: -fx-userVar-sidebar-text-color;
}
.sidebarMenuItemHBox:hover {
    -fx-border-color: transparent, #9604ff;
    -fx-border-style: solid;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0;
    -fx-border-color: rgb(22, 169, 250);
    -fx-border-width: 0px 0px 0px 3px;
    -fx-padding: 0 0 0 -4;
}
.sidebarMenuItemHBox:hover .label{
    /*-fx-padding: 0 0 0 11;*/
    -fx-font-weight: bold;
    -fx-text-fill: -fx-userVar-sidebar-text-color_OnHover;
    }
.sidebarMenuItemHBox:pressed .label {
    -fx-text-fill:red;
}

/*About me clickable sections */
.aboutUsAccordion{
    -fx-pref-width: 800;
    -fx-pref-height: 400;
    -fx-border-color: transparent;
    -fx-text-fill: -fx-userVar-sidebar-text-color;
    -fx-background-size: 1200 900;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;

}

.aboutUsAccordion .titled-pane{
    -fx-background-color: transparent ;
    -fx-text-fill: -fx-userVar-sidebar-text-color;
    -fx-font-family: "Courier-New";
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 20;
    -fx-alignment: top-center;
}

.aboutUsAccordion .titled-pane .title{
    -fx-background-color: transparent ;
    -fx-border-color: -fx-userVar-sidebar-text-color;
    -fx-pref-width: 140;
    -fx-pref-height:40;
    -fx-text-fill: -fx-userVar-sidebar-text-color;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 20;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

.aboutUsAccordion .titled-pane > *.content{
    -fx-background-color: transparent ;
    -fx-border-color: -fx-userVar-sidebar-text-color;
    -fx-border-insets: 1 0 0 0, 0;
    -fx-text-fill: -fx-userVar-sidebar-text-color;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 8 0 18 18;
}

.aboutUsAccordion .titled-pane:focused
{
-fx-font-weight: bolder;
-fx-text-fill: rgb(22, 169, 250);
}

.homeImage{
    -fx-background-image: url("content/ComputerWallpaper.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.greyBackground{
    -fx-background-color: GREY;
}

.primaryLabel{
     -fx-text-fill: WHITE;
}
.secondaryLabel{
      -fx-text-fill: LIGHTGREY;
}
.TertiaryLabel{
     -fx-text-fill: DARKGREY;
}