/* Style Color Variables */
/* This is the only second which requires editing for styles */
*{
    -fx-userVar-primary-color: #303030;
    -fx-userVar_primary-color2: #3d3d3d;
    -fx-userVar-primary-color-transparent: rgba(50, 50, 200, .1);
    -fx-userVar-primary-color-transparent-very: rgba(64, 64, 64, 0.75);

    -fx-userVar-primary-text-color: #b4b4b4;
    -fx-userVar-primary-text-color2: #f1f1f1;
    -fx-userVar-primary-text-family: Impact, Charcoal, sans-serif;

    -fx-userVar-secondary-color: lightgreen;
    -fx-userVar-secondary-color2: rgb(98, 250, 82);
}

/* Overriding Default Class/Control Styles */
*TextField {
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-background-color: -fx-userVar_primary-color2;
    -fx-text-fill: -fx-userVar-primary-text-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 14;
    -fx-font-family: -fx-userVar-primary-text-family;
}

*PasswordField {
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-background-color: -fx-userVar_primary-color2;
    -fx-text-fill: -fx-userVar-primary-text-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 14;
    -fx-font-family: -fx-userVar-primary-text-family;
}

*ChoiceBox {
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-background-color: -fx-userVar_primary-color2;
    -fx-text-fill: -fx-userVar-primary-text-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
    *ChoiceBox .label {
        -fx-text-fill: -fx-userVar-primary-text-color;
    }
    *ChoiceBox .menu-item {
        -fx-border-color: -fx-userVar-secondary-color;
        -fx-background-color: -fx-userVar_primary-color2;
    }

*Button {
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-background-color: -fx-userVar-primary-color-transparent;
    -fx-text-fill: -fx-userVar-primary-text-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-alignment: CENTER;
    -fx-font-weight: BOLD;
    -fx-font-size: 14;
    -fx-font-family: -fx-userVar-primary-text-family;
}
    *Button:hover {
        -fx-border-color: -fx-userVar-secondary-color2;
        -fx-text-fill: -fx-userVar-secondary-color2;
    }

*ProgressIndicator{
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-progress-color: -fx-userVar-secondary-color;
}
    *ProgressIndicator:hover {
        -fx-border-color: -fx-userVar-secondary-color2;
    }

/* Naming Conventions */
/*
    type_userName
    type_PageName_userName
 */

/* ALL PAGES (controls used multiple times) */

/* Master Page */
.AnchorPane_Master_Background {
    -fx-background-color: -fx-userVar_primary-color2;
}

.Multi_Master_BackgroundGrid {
    -fx-background-color: -fx-userVar-primary-color;
}

.HBox_Master_SidebarTitle {
    -fx-background-color: -fx-userVar_primary-color2;
}

.MenuButton_Master_SidebarButton{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-font-size: 14;
    -fx-min-width: 100;
    -fx-min-height: 20;
}
    .MenuButton_Master_SidebarButton > .label {
        -fx-text-fill: -fx-userVar-primary-text-color;
        -fx-font-family: -fx-userVar-primary-text-family;
        -fx-font-size: 14;
    }
    .MenuButton_Master_SidebarButton:hover{
        /*-fx-border-color: transparent, #9604ff;*/
        -fx-border-style: solid;
        -fx-border-color: -fx-userVar-secondary-color2;
        /*-fx-border-insets: 1 1 1 1, 0;*/
        /*-fx-background-color: transparent;*/
        /*-fx-background-radius: 0, 0;*/
        -fx-border-width: 0px 0px 3px 0px;
        -fx-padding: -1 0 0 0;
    }
    .MenuButton_Master_SidebarButton:hover .label {
        -fx-font-weight: bold;
        -fx-text-fill: -fx-userVar-secondary-color2;
    }
    .MenuButton_Master_SidebarButton .context-menu {
        -fx-background-color: -fx-userVar-primary-color-transparent;
        -fx-border-color: -fx-userVar-secondary-color;
        -fx-min-width: 120;
    }
    .MenuButton_Master_SidebarButton .menu-item{
        -fx-border-color: -fx-userVar-secondary-color;
    }
    .MenuButton_Master_SidebarButton .menu-item .label {
        -fx-text-fill: -fx-userVar-primary-text-color;
        -fx-font-weight: normal;
        -fx-alignment: CENTER;
        -fx-text-alignment: CENTER;
    }
    .MenuButton_Master_SidebarButton .menu-item:hover .label {
        -fx-text-fill: -fx-userVar-secondary-color2;
        -fx-font-weight: bold;
    }


.HBox_Master_SidebarButton {
    -fx-alignment: CENTER_LEFT;
}
    .HBox_Master_SidebarButton .label {
        -fx-text-fill: -fx-userVar-primary-text-color;
        -fx-font-size: 14;
        -fx-font-family: -fx-userVar-primary-text-family;
    }
    .HBox_Master_SidebarButton:hover {
        -fx-border-color: -fx-userVar-secondary-color2;
        -fx-border-style: solid;
        -fx-border-insets: 1 1 1 1, 0;
        -fx-background-radius: 0, 0;
        -fx-border-width: 0px 0px 0px 3px;
        -fx-padding: 0 0 0 -4;
    }
    .HBox_Master_SidebarButton:hover .label {
        -fx-font-weight: bold;
        -fx-text-fill: -fx-userVar-secondary-color2;
    }


/* Master Page */
.Pane_Home_BackgroundImage {
    -fx-background-image: url("../content/ComputerWallpaper.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: -fx-userVar-secondary-color;
}

.HBox_Home_ImageOverlay {
    -fx-background-color: -fx-userVar-primary-color-transparent-very;
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
    .HBox_Home_ImageOverlay .label {
        -fx-text-fill: -fx-userVar-primary-text-color2;
    }

.HBox_Home_Button{
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
    .HBox_Home_Button:hover{
        -fx-border-color: -fx-userVar-secondary-color2;
    }
    .HBox_Home_Button:hover .label{
        -fx-font-weight: bold;
    }

/* Accounts Page */
.TitledPane_Accounts_HeaderItem {
    -fx-text-fill: -fx-userVar-primary-text-color2;
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
    .TitledPane_Accounts_HeaderItem:hover {
        -fx-text-fill: -fx-userVar-secondary-color2;
    }
    .TitledPane_Accounts_HeaderItem .title {
        -fx-background-color: transparent;
    }

.ScrollPane_Accounts_InventoryScroller {
    -fx-background-color: transparent;
}
    .ScrollPane_Accounts_InventoryScroller .viewport {
        -fx-background-color: transparent;
    }

.AnchorPane_Accounts_HeaderItemAnchor {
    -fx-background-color: -fx-userVar_primary-color2;
}
.VBox_Accounts_OrderItem {
    -fx-background-color: transparent;
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
    .VBox_Accounts_OrderItem .label {
        -fx-text-fill: -fx-userVar-primary-text-color;
    }

/* About Page */
.Label_About_Primary {
    -fx-text-fill: -fx-userVar-secondary-color;
}

.Label_About_Secondary {
    -fx-text-fill: -fx-userVar-primary-text-color2;
}

.Label_About_Tertiary {
    -fx-text-fill: -fx-userVar-primary-text-color;
}

.Accordion_About_TeamSelection {
    -fx-border-color: transparent;
    -fx-text-fill: -fx-userVar-secondary-color;
    -fx-pref-width: 800;
    -fx-pref-height: 400;
    -fx-background-size: 1200 900;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
}
    .Accordion_About_TeamSelection .titled-pane{
        -fx-background-color: transparent ;
        -fx-text-fill: -fx-userVar-secondary-color;
        -fx-font-family: "Courier-New";
        -fx-font-weight: bold;
        -fx-font-style: italic;
        -fx-font-size: 20;
        -fx-alignment: top-center;
    }
    .Accordion_About_TeamSelection .titled-pane .title{
        -fx-background-color: transparent ;
        -fx-border-color: -fx-userVar-secondary-color;
        -fx-text-fill: -fx-userVar-secondary-color;
        -fx-pref-width: 140;
        -fx-pref-height:40;
        -fx-font-family: "Courier New";
        -fx-font-weight: bold;
        -fx-font-style: italic;
        -fx-font-size: 20;
        -fx-background-radius: 18 18 18 18;
        -fx-border-radius: 18 18 18 18;
    }
    .Accordion_About_TeamSelection .titled-pane > *.content{
        -fx-background-color: transparent ;
        -fx-border-color: -fx-userVar-secondary-color;
        -fx-text-fill: -fx-userVar-secondary-color;
        -fx-border-insets: 1 0 0 0, 0;
        -fx-background-radius: 18 18 18 18;
        -fx-border-radius: 8 0 18 18;
    }
    .Accordion_About_TeamSelection .titled-pane:focused
    {
        -fx-font-weight: bolder;
        -fx-text-fill: -fx-userVar-secondary-color2;
    }

/* Shop Page */
.ScrollPane_Shop_InventoryScroller {
    -fx-background-color: transparent;
}
    .ScrollPane_Shop_InventoryScroller .viewport {
        -fx-background-color: transparent;
    }

/* Address Item Custom Controller */
.VBox_AddressItem_Master .label {
    -fx-text-fill: -fx-userVar-primary-text-color2;
}

/* Search Product Custom Controller */
.HBox_SearchProduct_ProductItem{
    -fx-background-color: transparent;
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
    .HBox_SearchProduct_ProductItem:hover {
        -fx-background-color: -fx-userVar-primary-color;
        -fx-border-color: -fx-userVar-secondary-color2;
    }

/* ProductView Page */
.AnchorPane_ProductView_Master{
    -fx-background-color: -fx-userVar_primary-color2;
    -fx-border-color: -fx-userVar-secondary-color;
}


/* Inventory Page */
.table-view{
    -fx-background-color: transparent;
}
    .table-view:focused {
        -fx-background-color: transparent;
    }
    .table-row-cell{
        -fx-background-color: transparent;
    }
    .table-view .column-header {
        -fx-background-color: transparent;
    }
    .table-view .column-header-background{
        -fx-background-color: linear-gradient(-fx-userVar-secondary-color 0%, rgba(0,0,0,0) 75%);
    }
    .table-view .column-header-background .label{
        -fx-background-color: transparent;
        -fx-text-fill: white;
    }
    .table-view .filler{
        -fx-background-color: transparent;
    }
.TableView_Inventory_ProductList {
    -fx-border-color: -fx-userVar-secondary-color;
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}
    .TableView_Inventory_ProductList:focused{
        -fx-background-color: transparent;
    }
    .TableView_Inventory_ProductList .column-header .label {
        -fx-text-fill: -fx-userVar-primary-text-color2;
        -fx-font-weight: bold;
        -fx-alignment: CENTER;
        -fx-text-alignment: CENTER;
        -fx-font-size: 14;
    }
    .TableView_Inventory_ProductList .table-row-cell {
         -fx-border-color: -fx-userVar-secondary-color;
         -fx-border-width: 0.2;
         -fx-font-size: 12;
     }
    .TableView_Inventory_ProductList .cell {
        -fx-text-fill: -fx-userVar-primary-text-color2;
        -fx-alignment: CENTER;
        -fx-text-alignment: CENTER;
    }
    .TableView_Inventory_ProductList .cell:odd {
        -fx-text-fill: -fx-userVar-primary-text-color;
    }
    .TableView_Inventory_ProductList .table-row-cell:hover {
        -fx-border-color: -fx-userVar-secondary-color2;
        -fx-border-width: 0.75;
    }
    .TableView_Inventory_ProductList .table-row-cell:selected {
        -fx-border-color: -fx-userVar-secondary-color2;
        -fx-text-fill: -fx-userVar-secondary-color;
        -fx-border-width: 1;
        -fx-font-weight: bold;
        -fx-font-size: 13;
    }
